.skin-blue .main-header>.navbar {
	background-color: #f08080;
}

.content-wrapper,.right-side {
	background-color: white;
}

.skin-blue .main-header .logo {
	background-color: #f08080;
	color: white;
}
.skin-blue .main-header .logo:hover {
	background-color: black;
}

aside.main-sidebar {
	background-color: black !important;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;

}

h1 {
  font-family:Georgia, serif;
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-family: Arial, Sans-serif;
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
  font-weight: 550px;
}
h3 {
  font-size: 22px;
  margin-top: 0px;
}
h4 {
  font-family: Arial, Sans-serif;
  font-size: 16px;
}

.js-irs-0 .irs-bar {
border-top-color: #1C2C5B;
border-bottom-color: #1C2C5B;
} 

.js-irs-0 .irs-bar-edge {
border-color: #1C2C5B;
color: white;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #1C2C5B;
}


.js-irs-1 .irs-bar {
border-top-color: #1C2C5B;
border-bottom-color: #1C2C5B;
} 

.js-irs-1 .irs-bar-edge {
border-color: #1C2C5B;
color: white;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #1C2C5B;
}


.js-irs-2 .irs-single {
color: black;
}
.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {
background: #FE9929;
}


.js-irs-3 .irs-single {
color: black;
}
.js-irs-3 .irs-single, .js-irs-3 .irs-bar-edge, .js-irs-3 .irs-bar {
background: #FEC44F;
}


.js-irs-4 .irs-single {
color: black;
}
.js-irs-4 .irs-single, .js-irs-4 .irs-bar-edge, .js-irs-4 .irs-bar {
background: #FEE391;
}

.js-irs-5 .irs-single {
color: black;
}
.js-irs-5 .irs-single, .js-irs-5 .irs-bar-edge, .js-irs-5 .irs-bar {
background: #FFF7BC;
}

.js-irs-6 .irs-single {
color: black;
}
.js-irs-6 .irs-single, .js-irs-6 .irs-bar-edge, .js-irs-6 .irs-bar {
background: #FFFFE5;
}

.wellBorder {
  height:200px;
	padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-clip: padding-box;
	text-align: center;
	background-color: transparent;
}
.wellBorder2 {
  height:340px;
	padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-left: 3px;
  margin-top: 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-clip: padding-box;
	text-align: center;
	background-color: transparent;
}
.wellBorder3 {
  height:340px;
	padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-left: 3px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-clip: padding-box;
	text-align: center;
}
.wellBorder4 {
  height:340px;
  margin-top: 0px;
	padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-clip: padding-box;
	text-align: center;
	background-color: transparent;
}
.popover-content {
  background-color: #1C2C5B;
  color: white;
  font-size: 10px;
}
#hintM {
  font-size: 12px;
}
#hintF {
  font-size: 12px;
}

